.addbutton
{
   -fx-background-color: #0d5215d1;
}
.addbutton:hover
{
-fx-background-color : #05990cbf ;

}
.addbutton:pressed
{   
-fx-background-color : #0a2d14 ;
}
.logInButton
{
   -fx-background-color: #09d6d689;
   -fx-background-radius : 22;
}
.logInButton:hover
{
-fx-background-color : #007f8dd1;
-fx-background-radius : 22;

}
.logInButton:pressed
{   
-fx-background-color : #26798e ;
-fx-background-radius : 22;
}
.sideitem
{
-fx-background-color : #00ff4000;   
}
.curr_sideitem
{
-fx-background-color : #1168026d;
-fx-border-color : #55ca786a;
-fx-border-width : 0 0 3 0;

}
.sideitem:hover
{
-fx-background-color : #059905bf ;
-fx-border-color : #ffffff ;
-fx-border-width : 0 0 0 3;
}
.sideitem:pressed
{
-fx-background-color : #217824 ;
}

.header
{
-fx-background-color : #0b8413d1;
}

.sidebox
{
    /* -fx-background-image: url('images/bg1.jpg'); */
    -fx-background-color : #b1b1b160;
    -fx-background-radius : 22;
}
.sidebox2x
{
-fx-background-color : #08903cd1;
}

.home
{
-fx-background-color : #00000000; 
}

.home:hover
{
-fx-background-color : #54545472; 
}

.home:pressed
{
-fx-background-color : #34543aa9; 
}

.loginPane
{
    -fx-background-image: url('images/bg1.jpg');
    -fx-background-position: center center;
}

.reportfield
{
    -fx-background-color:#00000000;
    -fx-border-width: 0.5 0.5 0.5 0.5;
    -fx-border-color: white;
}

.patienttable{
    -fx-background-color: rgba(46, 46, 46, 0.751);
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);
}

.patienttable .column-header .label{
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: none;
}

.list-cell:even,
.list-cell:odd,
.table-row-cell:even,
.table-row-cell:odd{    
    -fx-control-inner-background: derive(-fx-base, 15%);
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.rowtable
{
 -fx-border-width: 0 1 0 0;
 -fx-border-color: rgb(42, 42, 42) ;
}

.list-cell,
.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}

.popbuttons
{
    -fx-background-radius: 100;
    -fx-background-color: green;
}
.popbuttons:hover
{
    -fx-background-radius: 100;
    -fx-background-color: #00cd00;
}

.popbuttons:pressed
{
    -fx-background-radius: 100;
    -fx-background-color: #026002;
}

.popbuttonscancel
{
    -fx-background-radius: 100;
    -fx-background-color: rgb(214, 0, 0);
}
.popbuttonscancel:hover
{
    -fx-background-radius: 100;
    -fx-background-color: #ef3434;
}

.popbuttonscancel:pressed
{
    -fx-background-radius: 100;
    -fx-background-color: #600202;
}