.addbutton
{
   -fx-background-color: #0d5052d1;
   -fx-background-radius : 22;
}
.addbutton:hover
{
-fx-background-color : #059992bf ;
-fx-background-radius : 22;
}
.addbutton:pressed
{   
-fx-background-color : #1d5c63 ;
-fx-background-radius : 22;
}
.logInButton
{
   -fx-background-color: #09d6d689;
   -fx-background-radius : 22;
}
.logInButton:hover
{
-fx-background-color : #007f8dd1;
-fx-background-radius : 22;

}
.logInButton:pressed
{   
-fx-background-color : #26798e ;
-fx-background-radius : 22;
}
.sideitem
{
-fx-background-color : #00ff4000;   
}
.curr_sideitem
{
-fx-background-color : #025c686d;
-fx-border-color : #55b6ca6a;
-fx-border-width : 0 0 3 0;

}
.sideitem:hover
{
-fx-background-color : #058a99bf ;
-fx-border-color : #ffffff ;
-fx-border-width : 0 0 0 3;
}
.sideitem:pressed
{
-fx-background-color : #217867 ;
}

.header
{
-fx-background-color : #24e7e0a9;
}

.sidebox
{
    -fx-background-color : #279b9fc2;
}





.homesideitem
{
-fx-background-color : #00ff4000;   
}
.currhome_sideitem
{
-fx-background-color : #025c686d;
-fx-border-color : #55b6ca6a;
-fx-border-width : 0 0 3 0;

}
.homesideitem:hover
{
-fx-background-color : #058a99bf ;
-fx-border-color : #ffffff ;
-fx-border-width : 0 0 0 3;
}
.homesideitem:pressed
{
-fx-background-color : #217867 ;
}
.homeheader
{
-fx-background-color : #00948f87;
}
.homesidebox
{
    -fx-background-color : #c8c8c860;
}







.loginBox
{
    -fx-background-color : #b1b1b160;
    -fx-background-radius : 22;
}
.sidebox2x
{
-fx-background-color : #087990d1;
}

.home
{
-fx-background-color : #5a5a5a60; 
}

.home:hover
{
-fx-background-color : #27545b91; 
}

.home:pressed
{
-fx-background-color : #345354a9; 
}

.loginPane
{
    -fx-background-image: url('images/bg1.jpg');
    -fx-background-position: center center;
}

.homepane1
{
    -fx-background-image: url('images/bg1.jpg');
    -fx-background-position: center center;
}

.reportfield
{
    -fx-background-color:#00000000;
    -fx-border-width: 0.5 0.5 0.5 0.5;
    -fx-border-color: rgb(0, 0, 0);
}


.mailbutton
{
    -fx-background-color:#426e7823;
    -fx-background-radius : 22;
}
.mailbutton:hover
{
    -fx-background-color:#58899357;
    -fx-background-radius : 22;
}
.mailbutton:pressed
{
    -fx-background-color:#2c757a98;
    -fx-background-radius : 22;
}

.compose
{
    -fx-background-color:#003c6d98;
    -fx-background-radius : 22;
}
.compose:hover
{
    -fx-background-color:#14527d57;
    -fx-background-radius : 22;
}
.compose:pressed
{
    -fx-background-color:#2c4a7a98;
    -fx-background-radius : 22;
}

.popbuttons
{
    -fx-background-radius: 100;
    -fx-background-color: green;
}
.popbuttons:hover
{
    -fx-background-radius: 100;
    -fx-background-color: #00cd00;
}

.popbuttons:pressed
{
    -fx-background-radius: 100;
    -fx-background-color: #026002;
}

.popbuttonscancel
{
    -fx-background-radius: 100;
    -fx-background-color: rgb(214, 0, 0);
}
.popbuttonscancel:hover
{
    -fx-background-radius: 100;
    -fx-background-color: #ef3434;
}

.popbuttonscancel:pressed
{
    -fx-background-radius: 100;
    -fx-background-color: #600202;
}

.popbuttonsedit
{
    -fx-background-radius: 100;
    -fx-background-color: rgb(0, 150, 214);
}
.popbuttonsedit:hover
{
    -fx-background-radius: 100;
    -fx-background-color: #34e6ef;
}

.popbuttonsedit:pressed
{
    -fx-background-radius: 100;
    -fx-background-color: #025a60;
}

.addpres
{
    -fx-background-radius: 100;
    -fx-background-color: rgb(0, 112, 160);
}
.addpres:hover
{
    -fx-background-radius: 100;
    -fx-background-color: #2aa6ac;
}

.addpres:pressed
{
    -fx-background-radius: 100;
    -fx-background-color: #125f65;
}

.labelnotif
{
    -fx-background-color: rgba(16, 90, 238, 0.53);
    -fx-background-radius : 22;

}
.labelnotif2
{
    -fx-background-color: rgba(16, 238, 90, 0.53);
    -fx-background-radius : 22;

}